<div class="container">    
	<div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
		<div class="panel panel-info" >
			<div class="panel-heading">
				<div class="panel-title">Login</div>  
				<div class="panel-body" >
					<%= form_tag logins_path, format: :post, class: "form-horizontal" do %>

					<div class="input-group">
						<label>Chave Publica</label>
						<%= text_field_tag "login[public_key]", nil, class: 'form-control' %>                                   
					</div>

					<div class="input-group">
						<label>Chave Privada</label>
						<%= text_field_tag "login[private_key]", nil, class: 'form-control' %>
					</div>

					<br>
					<div class="col-sm-12 controls">
						<%= submit_tag 'Entrar', class: "btn btn-success" %>
					</div>
					<% end %>   
				</div>                     
			</div>  
		</div>
	</div> 
</div>
