<section>
  <div class="row">
    <div class="col-md-2">
      <img class="img-responsive thumbnail" src="<%= character_image(@character_request) %>" width="128" height="128">
    </div>
    <div class="col-md-7">
      <b>Nome:</b> <%= @character.name %><br />
      <b> Descrição: </b> <%= @character.description %>
    </div>
  </div>
</section>


<h2>Fascículos</h2>
<hr />

<section>
  <div class="row">
    <div class="col-md-2">
      <img class="img-responsive thumbnail" src="" width="128" height="128">
    </div>
    <div class="col-md-7">
      <b>Nome:</b> <br />
      <b> Descrição: </b> 
    </div>
  </div>
</section>
